<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Tein World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="bg-light">
<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

        <div class="py-5 text-center">
            <h2>회원 가입</h2>
        </div>

        <main class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <form class="needs-validation" role="form" action="/members/new"
                          th:object="${memberForm}" method="post">

                        <div class="mb-4">
                            <label for="email" class="form-label">이메일</label>
                            <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                이메일을 입력해주세요.
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="name" class="form-label">이름</label>
                            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="15글자까지 입력 가능">
                            <div class="invalid-feedback">
                                이름을 입력해주세요.
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="password" class="form-label">비밀번호</label>
                            <input type="password" class="form-control" th:field="*{pwd}" id="password" placeholder="비밀번호">
                            <div class="invalid-feedback">
                                비밀번호를 입력해주세요.
                            </div>
                        </div>

                        <div class="mb-4">
                            <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입 하기</button>
                        </div>

                    </form>

                    <div th:replace="fragments/footer :: footer"/>

                </div>
            </div>
        </main>

</div>
</body>
</html>