<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<style>
    .table td, .table th {
        text-align: center;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <div class="py-5 text-center">
        <h2>글목록</h2>
    </div>

    <div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th style="width: 5%">#</th>
                <th style="width: 45%">제목</th>
                <th style="width: 20%">작성자</th>
                <th style="width: 15%">작성일</th>
                <th style="width: 5%">조회수</th>
                <th style="width: 5%">❤</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td style="text-align: left;" th:text="${board.title}"></td>
                <td th:text="${board.getMember().getName()}"></td>
                <td th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${board.hit}"></td>
                <td th:text="${board.like}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid py-6 d-flex flex-row-reverse">
        <p>
            <a class="btn btn-primary" th:href="@{/boards/write}">글 쓰기</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>
</body>
</html>