<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Tein World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <section class="py-5 text-center container bg-light">
        <div class="row py-lg-5">

            <h3 class="fw-light">회원 기능</h3>

            <div class="container-fluid py-5">

                <p>
                    <a class="btn btn-primary btn-lg" href="/members/new">회원 가입</a>
                    <a class="btn btn-secondary btn-lg" href="/members/memberLeave">회원 탈퇴</a>
                </p>

                <p>
                    <a class="btn btn-primary btn-lg" href="/members/signUp">로그인</a>
                </p>

                <p>
                    <a class="btn btn-primary btn-lg" href="/members/memberList">회원 목록</a>
                </p>

            </div>

        </div>
    </section>

    <div th:replace="fragments/footer :: footer"/>

</div>
</body>
</html>